.container h3{
  color: greenyellow;
}
.owner-card {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  margin-top: 1em;
  border: 0.1em solid #000;
}
.owner-card img {
  width: 6em;
  height: 6em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background:  #000;
}
.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand img {
  color: white !important;
  filter: brightness(0) invert(1) !important;
}