#info-section {
  display: flex;
  align-items: center;
  gap: 1em;
}
#info-section img{
  width: 8em;
  height: 8em;
  aspect-ratio: 1/1;
  background-color: gray;
}
#info {
  padding: 1em;
  display: flex;
  align-items: center;
}
#description-section{
  margin: 1.5em 0;
  min-height: 10em;
}
#description-section h3{
  margin-bottom: 0.5em;
}
.btn-claims {
  width: 100%;
  padding: 0.75em;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  margin: 1em 0;
}
.btn {
  flex: 1;
  padding: 0.75em;
  border: 0.1em solid #000;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem; 
  margin-top: 1.5rem;
}

.modal-buttons .btn {
  flex: 1; 
  max-width: 45%; 
}

.modal-content {
  padding: 2rem;
  text-align: center;
}
.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand img {
  color: white !important;
  filter: brightness(0) invert(1) !important;
}